.dokan-clearfix{
	clear:both;
}

.page-template-templatesdashboard-php {
	
	.dokan-dashboard-content {
		width:80%;
		float:left;

		.site-content {
			margin-top: 0px;
		}

		ul li{
			list-style: none;
			margin: 0px;
			padding:0px;
		}

		a{
			text-decoration: none;
		}
	}
}