.dokan-store {

    &.dokan-theme-twentytwelve {

        .site-content {
            float: none;
            width: 100%;
        }
    }
}

// store
.dokan-single-store {
    margin: 0;

    .profile-frame {

        padding: 0px;
        //margin-bottom: 60px;
        position: relative;
        background-size: cover;
        background-color: #eee;
        min-height: 300px;

        .profile-info-box {
            height: 100%;
            background: rgba(0, 0, 0, 0.65);
            color: #fff;
            width: 40%;
            min-height: 300px;

            a {
                color: #ccc;
            }

            &:hover {
                color: #fff;
            }

            .profile-img {
                height: 105px;
                text-align: center;
                padding-top: 15px;

                img {
                    background: #000;
                    border-radius: 500px;
                }
            }

            .profile-info {
                margin-left: 15%;

                .dokan-store-info {
                    list-style: none;

                    .dokan-store-phone,
                    .dokan-store-email {
                        a {
                            text-decoration: none;
                        }
                    }
                }

                li {
                    padding-bottom: 8px;

                    &.store-name {
                        font-weight: bold;
                        padding-bottom: 10px;
                        font-size: 15px;
                    }
                }

                i {
                    // color: @iconColor;
                    font-weight: bold;
                    float: left;
                    margin-left: -25px;
                    margin-top: 4px;
                }

                ul.store-social {
                    list-style: none;

                    li {
                        display: inline-block;
                    }

                    i {
                        color: #fff;
                        font-size: 20px;
                        float: none;
                        font-weight: normal;
                        margin: 0;
                    }
                }

                .seller-rating {
                    display: none;
                }
            }
        }
    }

    .dokan-store-tabs {
            ul {
                background-color: #fff;
                border-width: 0 1px 1px 1px;
                border-color: @borderColor;
                border-style: solid;
                margin: 0;
                padding: 0;
                margin-bottom: 20px;

                li {
                    display: inline-block;
                    border-right: 1px solid @borderColor;

                    a {
                        text-decoration: none;
                        color: #666;
                        padding: 10px 15px;
                        display: inline-block;

                        &:hover {
                            background: #eee;
                        }
                    }
                }
            }
        }
    .store-review-wrap {
        h2.headline {
            font-size: 17px;
            margin-bottom: 15px;
        }
    }

    .store-coupon-wrap {

        .code, .code a, .code span {
            &:before, &:after {
                content: "";
                display: block;
                position: absolute;
                width: 8px;
                height: 4px;
                background: #f7f7f7;
                -webkit-border-radius:2px;
                -moz-border-radius:2px;
                -o-border-radius:2px;
                border-radius:2px;
                -moz-box-shadow: 0 2px 0 0 rgba(255,255,255,0.3), inset 0 2px 0 0 rgba(0,0,0,0.1);
                -webkit-box-shadow: 0 2px 0 0 rgba(255,255,255,0.3), inset 0 2px 0 0 rgba(0,0,0,0.1);
                box-shadow: 0 2px 0 0 rgba(255,255,255,0.3), inset 0 2px 0 0 rgba(0,0,0,0.1);
            }
        }
        .code {
            overflow: hidden;
            vertical-align: middle;
            margin: 0 8px 20px 0;

            background: #ececec;
            color: #21759A;
            text-shadow: 0 1px 0 #ddd;

            padding: 2px;
            position: relative;
            float: left;
            line-height: 1em;
            -moz-box-shadow: 0 2px 0 0 #dddddd;
            -webkit-box-shadow: 0 2px 0 0 #dddddd;
            box-shadow: 0 2px 0 0 #dddddd;
            font-weight: bold;

            &:before {
                bottom: 5px;
                left: 0;
                margin: 0 0 0 -4px;
            }
            &:after {
                top: 5px;
                left: 0;
                margin: 0 0 0 -4px;
            }
            span {
                float: left;
                padding: 0 4px;
                color: #21759A;
                &:before {
                    bottom: 5px;
                    right: 0;
                    margin: 0 -4px 0 0;
                }
                &:after {
                    content: "";
                    top: 5px;
                    right: 0;
                    margin: 0 -4px 0 0;
                }
                span {
                .coupon-title {
                    font-size: 20px;
                    padding-bottom: 15px;
                    font-weight: 500;
                    text-align: center;
                    font-family: 'Open Sans', sans-serif;
                }
                .coupon-body {
                    font-size: 14px;
                    font-weight: 500;
                    text-align: center;
                    font-family: 'Open Sans', sans-serif;
                }
                    border: 1px dashed #ccc;
                    padding: .5em 6px;
                    -webkit-border-radius:2px;
                    -moz-border-radius:2px;
                    -o-border-radius:2px;
                    border-radius:2px;
                    &:before {
                        top: 50%;
                        left: 0;
                        margin: -2px 0 0 -4px;
                    }
                    &:after {
                        top: 50%;
                        right: 0;
                        margin: -2px -4px 0 0;
                    }
                }
            }
        }
    }
}

.dokan-store-sidebar {
    input[type=text],
    input[type=email],
    textarea {
        width: 100%;
    }

    form.seller-form {
        ul {
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                margin-bottom: 8px;
            }
        }
    }

    #dokan-store-location {
        width: 100%;
        height: 200px;
    }
}

// shortcode seller listing

.dokan-seller-listing .dokan-seller-search-form {
    margin-bottom: 30px;
}

ul.dokan-seller-wrap {
    .clearfix();
    list-style: none;
    margin: 0;
    padding: 0;

    li.dokan-single-seller {
        float: left;
        width: 48%;
        list-style: none;
        margin: 0 0 25px 0;
        padding: 0;
        border: 1px solid @borderColor;

        .dokan-store-banner-wrap {
            background-color: @borderColor;
            border-bottom: 1px solid @borderColor;

            img {
                width: 100%;
                max-width: 100%;
                height: auto;
                margin-bottom: 0;
            }
        }

        &:nth-child(2n+1) {
            margin-right: 3%;
            clear: left;
        }

        .dokan-store-caption {
            padding: 20px 20px 10px 20px;
            background-color: #fff;

            h3 {
                padding: 0;
                margin: 0 0 15px 0;
            }
        }
    }
}