/**
 * Dokan Plugin main Style less file
 *
 * Import all individual page styles 
 * in this less file which compile to style.css
 * file in assets/css directoryS 
 */
.page-template-templatesdashboard-php .dokan-dash-sidebar {
  width: 17%;
  float: left;
}
.page-template-templatesdashboard-php .dokan-dash-sidebar ul.dokan-dashboard-menu {
  background: #242424;
  list-style: none;
  margin: 0 0 20px 0;
  padding: 0;
}
.page-template-templatesdashboard-php .dokan-dash-sidebar ul.dokan-dashboard-menu li {
  margin: 0;
  border-bottom: 1px solid #454545;
  position: relative;
}
.page-template-templatesdashboard-php .dokan-dash-sidebar ul.dokan-dashboard-menu li a {
  padding: 10px 0 10px 18px;
  display: block;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}
.page-template-templatesdashboard-php .dokan-dash-sidebar ul.dokan-dashboard-menu li a i {
  font-size: 17px;
  padding-right: 15px;
}
.page-template-templatesdashboard-php .dokan-dash-sidebar ul.dokan-dashboard-menu li:hover {
  background: #f37655;
  color: #fff;
}
.page-template-templatesdashboard-php .dokan-dash-sidebar ul.dokan-dashboard-menu li.active {
  position: relative;
  background: #f37655;
}
.page-template-templatesdashboard-php .dokan-dash-sidebar ul.dokan-dashboard-menu li.active:after {
  left: 93%;
  top: 50%;
  border: transparent solid;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: transparent #fff transparent transparent;
  border-left-color: #fff;
  border-width: 16px 16px 16px 0;
  margin-top: -16px;
}
.page-template-templatesdashboard-php .dokan-dash-sidebar ul.dokan-dashboard-menu li ul.sub-menu {
  background: #fff;
  margin: 0;
  list-style: none;
  padding: 0;
  position: absolute;
  right: -100%;
  top: -4px;
  z-index: 99;
  width: 165px;
  display: none;
  border-top: 1px solid #ECECEC;
  border-right: 1px solid #ECECEC;
  border-bottom: 1px solid #ECECEC;
}
.page-template-templatesdashboard-php .dokan-dash-sidebar ul.dokan-dashboard-menu li ul.sub-menu a {
  padding: 2px 0 2px 10px;
  font-size: 13px;
  color: #333;
  font-weight: normal;
}
.page-template-templatesdashboard-php .dokan-dash-sidebar ul.dokan-dashboard-menu li ul.sub-menu a:hover {
  background: #f37655;
  color: #fff;
}
.page-template-templatesdashboard-php .dokan-dash-sidebar ul.dokan-dashboard-menu li ul.sub-menu li {
  border-bottom: 1px solid #ccc;
}
.page-template-templatesdashboard-php .dokan-dash-sidebar ul.dokan-dashboard-menu li ul.sub-menu li:last-child {
  border-bottom: none;
}
.dokan-clearfix {
  clear: both;
}
.page-template-templatesdashboard-php .dokan-dashboard-content {
  width: 80%;
  float: left;
}
.page-template-templatesdashboard-php .dokan-dashboard-content .site-content {
  margin-top: 0px;
}
.page-template-templatesdashboard-php .dokan-dashboard-content ul li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.page-template-templatesdashboard-php .dokan-dashboard-content a {
  text-decoration: none;
}
.page-template-templatesdashboard-php .dokan-dashboard-content article.dashboard-content-area {
  overflow: hidden;
  margin-top: 0px;
}
.page-template-templatesdashboard-php .dokan-dashboard-content article.dashboard-content-area .content-half-part {
  width: 47%;
  padding: 0px 0px 0px 10px;
  float: left;
}
.page-template-templatesdashboard-php .dokan-dashboard-content article.dashboard-content-area .dashboard-widget {
  background: #fff;
  border: 1px solid #EBEBEB;
  padding: 0px 10px;
  position: relative;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  margin-bottom: 15px;
}
.page-template-templatesdashboard-php .dokan-dashboard-content article.dashboard-content-area .dashboard-widget a {
  font-size: 13px;
}
.page-template-templatesdashboard-php .dokan-dashboard-content article.dashboard-content-area .dashboard-widget .widget-title {
  font-weight: bold;
  font-size: 15px;
  border-bottom: 1px solid #EBEBEB;
  padding-bottom: 6px;
  margin-bottom: 6px;
}
.page-template-templatesdashboard-php .dokan-dashboard-content article.dashboard-content-area .dashboard-widget .widget-title i {
  color: #ccc;
  padding-right: 5px;
}
.page-template-templatesdashboard-php .dokan-dashboard-content article.dashboard-content-area .dashboard-widget.big-counter {
  padding: 15px 20px;
  text-align: center;
}
.page-template-templatesdashboard-php .dokan-dashboard-content article.dashboard-content-area .dashboard-widget.big-counter li {
  width: 26%;
  display: inline-block;
  margin: 0px 10px 0px 0px;
  padding: 0px;
}
.page-template-templatesdashboard-php .dokan-dashboard-content article.dashboard-content-area .dashboard-widget.big-counter .title {
  font-size: 18px;
  border-bottom: 1px solid #EBEBEB;
  padding-bottom: 10px;
  padding-top: 6px;
  margin-bottom: 25px;
}
.page-template-templatesdashboard-php .dokan-dashboard-content article.dashboard-content-area .dashboard-widget.big-counter .count {
  font-size: 20px;
}
.page-template-templatesdashboard-php .dokan-dashboard-content article.dashboard-content-area .dashboard-widget.orders {
  overflow: hidden;
}
.page-template-templatesdashboard-php .dokan-dashboard-content article.dashboard-content-area .dashboard-widget.orders .content-half-part {
  width: 42%;
  padding: 0px 10px;
  float: left;
}
.page-template-templatesdashboard-php .dokan-dashboard-content article.dashboard-content-area .dashboard-widget.products .pull-right a {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  margin-top: -6px;
}
.page-template-templatesdashboard-php .dokan-dashboard-content article.dashboard-content-area .dashboard-widget.sells-graph {
  padding-bottom: 7px;
  width: 100%;
  position: relative;
}
.page-template-templatesdashboard-php .dokan-dashboard-content article.dashboard-content-area .dashboard-widget .chart-placeholder.main {
  height: 347px;
}
.page-template-templatesdashboard-php .dokan-dashboard-content article.dashboard-content-area .dashboard-widget .list-count .count {
  float: right;
}
.page-template-templatesdashboard-php .dokan-dashboard-content article.dashboard-content-area .chart-tooltip {
  position: absolute;
  display: none;
  line-height: 1;
  background: #333;
  color: #fff;
  padding: 3px 5px;
  font-size: 11px;
  border-radius: 3px;
}
