/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 6, 2017, 11:01:53 AM
    Author     : rafsun
*/

.dokan-variation-loader{
    background: url("../images/ajax-loader@2x.gif") no-repeat;
    position:absolute;
    height: 35px;
    width: 35px;
    top:45%;
    left:50%;
}

.dokan-shipping-calculate-wrapper {
    .dokan-shipping-country-wrapper,
    .dokan-shipping-state-wrapper,
    .dokan-shipping-qty-wrapper {
        label {
            font-weight: normal;
        }
    }
    button.dokan-shipping-calculator {
        margin-top: 33px;
    }
}